<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        ul.no-bullets {
          list-style-type: none; /* Remove bullets */
          padding: 0; /* Remove padding */
          margin: 0; /* Remove margins */
        }
    </style>
</head>
<body>

<ul>
    <li>
        <div class="container">
            <div class="url">
                <a href="https://www.google.com"> https://www.google.com </a>
            </div>
            <div class="content">
                kgsfadkfopk232opkfowakeopfkopaskdopfkopakodpfkpoaksdopfkopoakpdf
            </div>
        </div>
    </li>
</ul>

</body>
</html>
